body {
    margin-top: 20px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

ul.pagination li.page-item.active span.page-link.pagination-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 40px;
  border-radius: 50%;
  padding: 0 10px;
  white-space: nowrap;
  font-weight: 600;
  font-size: 1rem;
}
